

/* animations.css */
@keyframes bellShake {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-5deg); }
    40% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    80% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
  }
  
  .shake {
    animation: bellShake 5s ease-in-out infinite;
  }

  /* animations.css */
@keyframes shakeIcon {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  
  .shakeIcon {
    animation: shake 0.5s ease-in-out;
  }
  
  